
openapi: 3.0.3
info:
  title: UWE UniHub
  version: 0.0.0
servers:
  - url: https://uwe.dyzoon.dev/api
  
tags:
  - name: auth
    description: Auth
  - name: profiles
    description: Profiles
  - name: communities
    description: Communities
  - name: posts
    description: Posts
  - name: events
    description: Events
  - name: search
    description: Search
    
paths:
  /auth:
    get:
      tags:
        - auth
      summary: Check user's token
      operationId: authGet
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        #TODO 401
          
  /auth/login:
    post:
      tags:
        - auth
      summary: Login
      operationId: authLoginPost
      requestBody:
        description: Login data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginPost'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          
  /auth/signup:
    post:
      tags:
        - auth
      summary: Signup as client
      operationId: authSignupPost
      requestBody:
        description: Signup data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginPost'
      responses:
        '200':
          description: Ok
          
  # /profiles:
  #   get:
  #     tags: [profiles]
  #     summary: Get profiles
  #     operationId: profilesGet
  #     security:
  #       - sessionAuth: []
  #     responses:
  #       '200':
  #         description: Ok
  #         content:
  #           application/json:
  #             schema:
  #               type: array
  #               items:
  #                 $ref: '#/components/schemas/Profile'
  
  /profiles/{profileId}:
    get:
      tags: [profiles]
      summary: Get profile by id
      operationId: profileProfileIdGet
      parameters:
        - $ref: '#/components/parameters/profileId'
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
    patch:
      tags: [profiles]
      summary: Edit profile
      operationId: profileIdPatch
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/profileId'
      requestBody:
        description: Profile
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePatch'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  
  /communities:
    get:
      tags: [communities]
      summary: Get communities
      operationId: communitiesGet
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Community'
  
  /communities/{communityId}:
    get:
      tags: [communities]
      summary: Get community by id
      operationId: communityIdGet
      parameters:
        - $ref: '#/components/parameters/communityId'
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Community'
    patch:
      tags: [communities]
      summary: Edit community
      operationId: communityIdPatch
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/communityId'
      requestBody:
        description: Community
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/CommunityPatch'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Community'
  
  /feed:
    get:
      tags: [posts]
      summary: Get latest posts
      operationId: postsGet
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/feedPointer'
        - $ref: '#/components/parameters/feedLimit'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
  /posts/{postId}:
    get:
      tags: [posts]
      summary: Get post by id
      operationId: postIdGet
      parameters:
        - $ref: '#/components/parameters/postId'
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
    patch:
      tags: [posts]
      summary: Edit post
      operationId: postIdPatch
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/postId'
      requestBody:
        description: Post
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/PostPatch'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
                
  /profile/{profileId}/posts:
    get:
      tags: [posts]
      summary: Get posts of a profile
      operationId: profileIdPostsGet
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/profileId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
    
  /community/{communityId}/posts:
    get:
      tags: [posts]
      summary: Get posts of a community
      operationId: communityIdPostsGet
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/communityId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
                  
  /events:
    get:
      tags: [events]
      summary: Get events
      operationId: eventsGet
      security:
       - sessionAuth: []
      responses:
        '200':
          description: Ok
          content:
            aplication/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
  /events/{eventId}:
    get:
      tags: [events]
      summary: Get event by id
      operationId: eventIdGet
      parameters:
        - $ref: '#/components/parameters/eventId'
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/Event'
    patch:
      tags: [events]
      summary: Edit event
      operationId: eventIdPatch
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/eventId'
      requestBody:
        description: Post
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/EventPatch'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
  /search:
    get:
      tags: [search]
      summary: General search
      operationId: searchGet
      security: 
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/searchQ'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Profile'
                    - $ref: '#/components/schemas/Community'
                    - $ref: '#/components/schemas/Event'
        
  
components:

  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: sessionId
      
  parameters:
    profileId:
      name: profileId
      in: path
      required: true
      schema:
        type: number
    communityId:
      name: communityId
      in: path
      required: true
      schema:
        type: string
    postId:
      name: postId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    eventId:
      name: eventId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    feedPointer:
      name: feedPointer
      in: query
      required: false
      schema:
        type: number
    feedLimit:
      name: feedLimit
      in: query
      required: false
      schema:
        type: number
    searchQ:
      name: searchQ
      in: query
      required: false
      schema:
        type: string
        
  schemas:
    ProfileStudentInfo:
      type: object
      properties:
        program: 
          type: string
        level:
          type: string
        school:
          type: string
      required: [program, level, school]
      
    ProfileStaffInfo:
      type: object
      properties:
        position:
          type: string
        department:
          type: string
      required: [position, department]
      
    Profile:
      type: object
      properties:
        id:
          type: number
        first_name:
          type: string
        last_name: 
          type: string
        bio:
          type: string
          nullable: true
        subscribers:
          type: number
        subscriptions:
          type: number
        student:
          allOf:
            - $ref: '#/components/schemas/ProfileStudentInfo'
          nullable: true
        staff:
          allOf:
            - $ref: '#/components/schemas/ProfileStaffInfo'
          nullable: true
      required: [id, first_name, last_name, bio, subscribers, subscriptions, student, staff]
    ProfilePatch:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        bio:
          type: string
          nullable: true
      
    Community:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        bio:
          type: string
          nullable: true
        subscribers:
          type: number
      required: [id,name, bio, subscribers]
    
    CommunityPost:
      type: object
      properties:
        name:
          type: string
        bio:
          type: string
          nullable: true
      required: [id,name, bio]
          
    CommunityPatch:
      type: object
      properties:
        name:
          type: string
        bio:
          type: string
          nullable: true
    
    Post:
      type: object
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        published:
          type: string
          format: date-time
        event_id:
          type: string
          format: uuid
          nullable: true
        creator:
          oneOf:
            - $ref: '#/components/schemas/Profile'
            - $ref: '#/components/schemas/Community'
      required: [id, content, published, event_id, creator]
    
    PostPost:
      type: object
      properties:
        content:
            type: string
        event_id:
          type: string
          format: uuid
          nullable: true
        creator:
          oneOf:
            - $ref: '#/components/schemas/Profile'
            - $ref: '#/components/schemas/Community'
      required: [content, published, event_id, creator]
      
    PostPatch:
      type: object
      properties:
        content:
            type: string
        event_id:
          type: string
          format: uuid
          nullable: true
    
    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        desc:
          type: string
        location:
          type: string
        published:
          type: string
          format: date-time
        date:
          type: string
          format: date-time
        creator:
          oneOf:
            - $ref: '#/components/schemas/Profile'
            - $ref: '#/components/schemas/Community'
      required: [id, desc, location, date, creator]
    
    EventPost:
      type: object
      properties:
        desc:
          type: string
        location:
          type: string
        date:
          type: string
          format: date-time
        creator:
          oneOf:
            - $ref: '#/components/schemas/Profile'
            - $ref: '#/components/schemas/Community'
      required: [desc, location, date, creator]
      
    EventPatch:
      type: object
      properties:
        desc:
          type: string
        location:
          type: string
        date:
          type: string
          format: date-time
      
    LoginPost:
      type: object
      properties:
        id:
          type: number
        password:
          type: string
        
